 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
        img{
            height: 300px;
            width: 400px;
            border-radius: 30px;
            float: right;
        }
    </style>
</head>
<body>
    
    <div class="P">
     <H1 style="color:purple;">   ABOUT US  </H1>
<p>THIS RESTAURAN5T  IS FIVESTAR VERY TASTY AND DELICOUS <SPAN>FOOD</SPAN>ALL AVAILABLE FOODS ARABIAN ,CHINEASE,SOUTH INDIA AND NORTH <br><P></P>
FOODS ALL FOOD ITEMS AVAILABLE THIS RESTAURAN5T VARIETY JUICES AND STARTS WATERMELON,GRAPE,PINEAPPLE,AVACARDO,AND SHAKES AND AVILMILKS</p>
<P>AVIL MILKS ARE STRAWBERRY,OREO,GRAPE AND DIFFERENT AVILMILKS ARE AVAILABLE AND TASTY & DELICIOUS STARTERS : MANJURIYAN GRAVY,</P>
<P>GOBI CHILLY,ALFAHAM QUARTERS DESRTETS : DIFFERENT ICECREAM AND FRUIT SALADS TASTY AND DELICIOUS FOODS  MY REATUANTS</P>
<P>ALL TYPES ARE FOODS AVAILABLE THIS RESTAURANT IS INNAUGRATION ACTOR: MAMOOTY THIS TABLE SETTING AND AMBIANCES VERY BEAUTY</P>


        <img src="{% static 'images/g.jpg'%}" alt=""> 





    </div>


</body>
</html>